* {
    margin: 0px !important;
    padding: 0px !important;
    font-family: 'Ubuntu', sans-serif;
}

html {
    overflow-x: hidden;
}

.clearBorder {
    border-width: 0px;
}

hr {
    width: 480px;
    display: block;
    position: relative;
    padding: 0;
    margin: 8px 20px !important;
    height: 0;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#headerCanvas {
    position: absolute;
}

body {
    background-color: #F8F8F8;
    font-size: 16pt;
}

a {
    text-decoration: none;
}

.contactInfo a {
    color: #242424;
    text-decoration: none;
}

.contactInfo a:hover {
    text-decoration: underline;
}

.spaceVertical {
    height: 100vh;
}

.flexContainer {
    margin: auto !important;
    max-width: 1300px;
}

.flexItem {
    margin: 50px auto !important;
    min-width: 400px;
    max-width: 1000px;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.boop {
    background-image: url("../media/BoopThumb.jpg");
}

.probs99 {
    background-image: url("../media/99ProblemsThumb.png");
}

.montague {
    background-image: url("../media/MontagueThumb.jpg");
}

.contactInfo {
    margin: auto !important;
    text-align: center;
    width: 1207px;
}

.contactInfo ul {
    list-style: none;
}

.contactInfo li {
    float: left;
    padding: 20px !important;
    padding-bottom: 50px !important;
}

.diamond {
	height: 1em;
    width: 1em;
    transform: rotate(45deg);
}

.projectContent {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    width: auto;
    min-height: 400px;
    opacity: 0;;
    transition: opacity 0.2s;
}

.projectContent:hover {
    opacity: 1;
}

.projectTitle {
    padding-top: 311px !important;
    padding-left: 15px !important;
}

.projectDescription {
    padding-left: 15px !important;
    padding-bottom: 15px !important;
}

.footer {
    clear: both;
    font-size: 10pt;
    width: 100%;
    text-align: center;
    padding-bottom: 30px !important;
}

@media (max-width: 1207px) {
    .contactInfo {
        width: 200px;
        text-align: center;
    }

    .contactInfo li {
        float: none;
        padding-top: 0px !important;
        padding-bottom: 20px !important;
    }

    .colored {
        margin-left: 70px !important;
    }

    .diamond {
        height: 20px;
        width: 20px;
    }
}

@media (max-width: 949px) {
    .flexItem {
        max-width: 2000px;
    }
}