* {
    --color-bg: #F57380;
    --color-bg2: #c849e7;
    --color-header: #ffffff;
    --color-detail: #ffffff52;
    --color-fade: #f55e6e;
    --color-fade2: #aed3e6;
    --color-fade3: #ffffff88;
    --color-text: #ffffff85;
}

html {
    overflow: auto;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0px;
    background-image: linear-gradient(var(--color-bg), var(--color-bg2));
    border-left: 10px solid var(--color-header);
    border-right: 10px solid var(--color-header);
}

body:before, body:after {
    content: "";
    position: fixed;
    background: var(--color-header);
    left: 0;
    right: 0;
    height: 10px;
}

body:before {
    top: 0;
}

body:after {
    bottom: 0;
}




/*NAVIGATION*/

nav {
    position: fixed;
    width: 100%;
}

nav a {
    line-height: 0.9em;
    margin: 0px;
    font-weight: 800;
    color: var(--color-header);
}

.inactive {
    color: #ffffff63 !important;
    text-shadow: none !important;
}

.inactive:hover {
    color: var(--color-header) !important;
    animation-name: navHover;
    animation-duration: 0.15s;
}

.navTopbar {
    padding-top: 20px;
    padding-right: 30px;
}

.navTopbar a {
    font-size: 22px;
    float: right;
    padding-left: 20px;
}


.navSidebar {
    max-width: 180px;
    padding-left: 15px;
}

.navSidebar .toggles {
    padding-bottom: 10px;
}

.navSidebar .toggles p {
    line-height: 1em;
    cursor: pointer;
    margin: 0px;
    font-size: 19.1px;
    font-weight: 800;
    color: var(--color-header);
}

.navSidebar h5 {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
}

.navSidebar li {
    list-style: none;
}

.navSidebar li p {
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-detail);
}




/*TIMELINE*/

.timeline {
    margin: auto;
    max-width: 800px;
}

@media only screen and (max-width: 1240px) {
    .timeline {
        margin-left: 210px;
        overflow-y: hidden;
    }
}





/*HEADER*/

.header {
    color: var(--color-header);
    padding-top: 300px;
    padding-bottom: 200px;
    max-width: 800px;
    margin: auto;
    font-size: 16px;
    font-family: 'Cutive Mono', monospace;
}

.header h1,h3 {
    font-weight: 400;
    line-height: 1.3em;
    margin: 0px;
}

.header .name {
    color: var(--color-detail);
}



/*HOMEPAGE PROJECTS*/

.project {
    clear: both;
    padding-top: 100px;
    padding-bottom: 200px;
}

.projectMedia {
    float: left;
}

.info {
    max-width: 180px;
    float: left;
    padding-left: 10px;
}

.infoHeader {
    position: relative;
}

.title {
    color: var(--color-header);
    /*text-shadow: 2px 2px 1px var(--color-fade2);*/
    font-size: 20px;
    font-weight: bold;
    line-height: 0.9em;
}

.year {
    font-weight: 300;
    font-size: 15px;
    color: var(--color-text);
}

.description {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
    line-height: 1em;
    padding-top: 10px;
}

.infoLinks {
    padding-top: 10px;
    line-height: 1em;
}

.fancyLink {
    font-size: 14px;
    color: white;
    position: relative;
}

.fancyLink:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
}

.fancyLink:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.spacer {
    height: 50vh;
}

@keyframes linkHover {
    from {color: #ffffff81;}
    to {color: var(--color-header);}
}

@keyframes navHover {
    from {color: #ffffff63;}
    to {color: var(--color-header);}
}





.about {
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

.about .me {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-header);
}

.meLink {
    color: var(--color-detail);
}

.meLink:hover {
    border-bottom: 2px solid var(--color-detail);
}




/*PROJECT PAGES*/

.projectPage {
    max-width: 800px;
    margin: auto;
}

.projectHeaderMedia {
    padding-top: 150px;
}

.projectInfo {
    padding-top: 50px;
}

.projectTitle {
    margin: 0px;
    font-size: 18px; 
    font-weight: bold;
    color: var(--color-header);
}

.projectContent {
    display: flex;
}

.projectDescription {
    padding-top: 5px;
    color: var(--color-text);
    width: 550px;
    margin: 0px;
    font-size: 16px;
}

.projectLearnings {
    margin: 0px;
    padding-left: 20px;
    width: 230px;
    padding-top: 5px;
}

.projectLearnings h5 {
    margin: 0px;
    font-size: 18px;
    color: var(--color-text);
}

.learnings {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
}   

.learning {
    font-size: 14px;
    padding-right: 10px;
    padding-top: 3px;
    color: var(--color-header);
}

.projectLinks {
    padding-top: 20px;
}

.projectLinks a {
    color: var(--color-header);
    font-size: 14px;
    font-weight: bold;
}




/*SOCIAL*/
.socialContainer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.social {
    margin-bottom: 20px;
    margin-left: 25px;
    display: flex;
}
    .social i {
        color: #121212;
        margin-right: 20px;
    }

    #itch:hover {
        color: #FA5C5B;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #github:hover {
        color: #777777;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #twitch:hover {
        color: #6441A4;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #linkedin:hover {
        color: #007bb6;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #twitter:hover {
        color: #00aced;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #soundcloud:hover {
        color: #ff7700;
        background-color: rgba(0, 0, 0, 0.0);
    }
