body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Judson', serif;
    font-size: 54px;
    margin: 0px;
}

p {
    margin: 0px;
}

#links {
    position: fixed;
    margin: 10px;
    width: 165px;
}

#home {
    display: flex;
    justify-content: space-between;
}

#home a {
    color: black;
    text-decoration: none;
}

#home a:hover { 
    color: blue;
}

#social {
    display: flex;
    justify-content: space-between;
}

#social a {
    color: black;
    text-decoration: none;
}

#social a:hover { 
    color: blue;
}

#page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 120px);
    padding-top: 60px;
    padding-bottom: 60px;
}

#timeline {
    text-align: left;
    width: 175px;
    margin-top: -20px;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

#timeline::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}

#timeline .year {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

#timeline a {
    font-size: 14px;
    line-height: 1em;
    margin-bottom: 7px;
    display: block;
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

#timeline a:hover {
    color: blue !important;
}

#timeline a:visited {
    color: black;
}

#timeline a.pageActive {
    color: white;
    background-color: blue;
    padding-top: 2px;
    padding-bottom: 2px;
}

#timeline a.pageActive:hover {
    color: white;
}

#filters {
    width: 175px;
    text-align: right;
}

#filters #filtersTitle {
    font-weight: bold;
    font-size: 16px;
}

#filters a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding-right: 10px;
}

#filters a:hover {
    color: blue;
}

#filters a.filtersActive {
    color: white;
    background-color: blue;
    padding-top: 2px;
    padding-bottom: 2px;
}

#filters a.filtersActive:hover {
    color: white;
}

#content {
    padding: 0px 20px 0px 20px;
    overflow: scroll;
    height: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

#content::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}

.item {
    height: 150px;
    width: 700px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: 0px 0px 25px 0px;
    border: 2px solid black;
    cursor: pointer;
}

.itemText {
    margin: 10px;
}

.itemText h1 {
    line-height: 0.9em;
    overflow: hidden;
    font-style: italic;
}

/*PAGE PAGE PAGE PAGE*/
.page {
    width: 700px;
}

.pageHeader {
    border: 2px solid black;
    height: 200px;
    background-image: url(../media/homepage/birdtown_homepage.png);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: end;
}

.pageTitle {
    font-style: italic;
    padding-left: 10px;
    line-height: 0.8em;
}

.pageHeaderInfo {
    margin: 0px 0px 10px 10px;
    display: flex;
}

.pageHeaderInfo p {
    margin-right: 0.25em; /*this is the standard with of a font's space character*/
}

.pageContent {
    margin: 50px 100px 10px 100px;
}

.pageContent p {
    margin-top: 15px;
    font-size: 16px;
}

.pageContent a {
    color: blue;
    text-decoration: none;
}

.pageContent a:hover {
    color: blue;
    text-decoration: underline;
}

.pageContent iframe {
    /*youtube default embed width is 560*/
    margin-left: -30px;
    margin-top: 25px;
}