




/*Global Stylings*/

* { 
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    overflow-y: hidden;
}

.container {
    width: 60vw;
    color: #EEE4E4;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    padding: 0px;
    margin: 0px;
}

a {
    color: #EEE4E4;
    text-decoration: none;
}

    a:hover {
        border-bottom: dotted;
    }



    

/*Navigation*/

nav {
    position: fixed;
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
}

    nav ul {
        list-style: none;
    }

    nav li {
        float: left;
        margin-right: 15px;
    }





/*Sidebar*/


.sidebar {
    max-width: 40px;
    left: 100%;
    margin-left: -50px;
    margin-top: 15px;
    position: fixed;
    text-align: center;
}

    #i_hand {
        -ms-transform: rotate(-90deg) scale(0.75); /* IE 9 */
        -webkit-transform: rotate(-90deg) scale(0.75); /* Chrome, Safari, Opera */
        transform: rotate(-90deg) scale(0.75);

        transition: transform 0.2s;
    }

    #i_hand:hover {
        cursor: pointer;
        -ms-transform: rotate(-90deg) scale(1); /* IE 9 */
        -webkit-transform: rotate(-90deg) scale(1); /* Chrome, Safari, Opera */
        transform: rotate(-90deg) scale(1);
    }



/*Scrolling Content*/

article {
    width: 60vw;
    height: 100vh;
    overflow-y: scroll;
    background-color: #960909;
}

.timeline {
    width: 400px; /*The width of "DANNY HAWK"*/
    margin: auto;
    padding-top: 30vh;
}

    .timeline h1 {
        font-size: 59px;
        letter-spacing: -2px;
        font-weight: 700;
    }

    .timeline h2 {
        font-size: 25px;
        letter-spacing: -2px;
        font-weight: 300;
        margin-top: -15px;
    }

.project {
    margin-bottom: 6px; /*Makes the line look continuous*/
    height: 200px;

    border-left: dotted;
    border-width: 6px;
}

    .project .content {
        margin-left: 6px;
    }

    .project h3 {
        font-size: 40px;
        line-height: 1em;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        padding-left: 5px;
    }

    .project h3:hover {
        text-decoration: underline;
    }

    .project h4 {
        font-weight: 300;
        font-family: 'Open Sans Condensed', sans-serif;
        line-height: 1em;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .project .year {
        display: block;
        margin-left: -56px;
        margin-bottom: -15px;
    }

    .project .description {
        border-top: dotted;
        border-width: 6px;
        padding-left: 5px;
        padding-top: 5px;
    }

.social {
    margin-top: -37px;
    margin-left: 15px;
}

    .social i {
        padding-bottom: 5px;
    }

    .social a:hover {
        border: none;
    }

    #github:hover {
        color: #111111;
    }

    #twitch:hover {
        color: #6441A4;
    }

    #linkedin:hover {
        color: #007bb6;
    }

    #twitter:hover {
        color: #00aced;
    }

.spacer {
    margin-bottom: 6px; /*Makes the line look continuous*/
    height: 350px;

    border-left: dotted;
    border-width: 6px;
}

.bottomSpacer {
    height: 50vh;
    border-top: dotted;
    border-width: 6px;
}





/*Sketch Styling*/

#sketchHolder {
    width: 50vw;
}