




/*Global Stylings*/

* { 
    padding: 0px;
    margin: 0px;
}

h1, h2 {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/*Navigation*/

nav {
    position: fixed;
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
}

    nav ul {
        list-style: none;
    }

    nav li {
        float: left;
        margin-right: 15px;
    }

    nav a {
        background-color: #121212;
        padding: 4px 6px 4px 6px;
        color: #FDFDFD;
    }

    nav a:hover {
        background-color: rgba(0, 0, 0, 0.0);
        color: #121212;
    }



/*Basic website blockings*/
body {
    font-family: 'Open Sans', sans-serif;
}

#sketch {
    position: fixed;
}

.container {
    position: fixed;
    width: 100vw;
}

.content {
    height: 100vh;
    overflow-y: scroll;
}

article {
    padding-top: 200px;
    padding-bottom: 200px;
    margin: auto;
    width: 500px;
}



.header {
    margin-top: 250px;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 24px;
    background-color: #121212;
    color: #FDFDFD;
    width: 70vw;
    min-width: 460px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .name {
        font-size: 70px;
    }

    .objective {
        font-size: 9px;
        margin-top: -18px;
        margin-left: 5px;
    }



/*PROJECTS*/

.project {
    margin-top: 100px;
    background-color: #121212;
    padding: 10px 14px 10px 14px;
    color: #FDFDFD;
}

    .project:hover {
        cursor: pointer;
    }

    .project h3 {
        float: left;
        font-size: 22px;
        font-weight: 400;
        font-style: italic;
    }
    
    .project .tools {
        padding-left: 4px;
        font-size: 16px;
        font-style: normal;
        color: #666666;
    }

    .project p {
        clear: both;
        padding-top: 10px;
    }

#todo:hover {
    color: #FE0000;
}

#rocks:hover {
    color: #FDFE02;
}

#dog:hover {
    color: #0BFF01;
}

#montague:hover {
    color: #011EFE;
}




/*Social*/

.social {
    display: flex;
    justify-content: center;
}
    .social i {
        color: #121212;
        margin: 100px 30px 0px 30px;
    }

    #github:hover {
        color: #777777;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #twitch:hover {
        color: #6441A4;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #linkedin:hover {
        color: #007bb6;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #twitter:hover {
        color: #00aced;
        background-color: rgba(0, 0, 0, 0.0);
    }



/*Lit Rocks Styling*/

.rocks article {
    overflow-y: scroll;
    min-width: 800px;
}

.rockHeader {
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: auto;
    max-width: 500px;
}

.rockHeader h1 {
    font-size: 50px;
}

.rockHeader p {
    padding-top: 15px;
    font-size: 15px;
}

.whyididthis {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.whyididthis a {
    background: #121212;
    color: #FDFDFD;
    padding: 8px;
}

.whyididthis a:hover {
    background: #FDFDFD;
    color: #121212;
}

.rocks .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.instagram-media {
    margin-bottom: 50px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
    min-width: 700px !important;
    /*
    box-shadow: 0px 0px 0px #FFFFFF !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #EEEEEE !important;*/
    box-shadow: 2px 2px 1px #DDDDDD !important;
}

.rocks article h3 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.rocksTakeaways {
    width: 500px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rocksTakeaways a:hover {
    border-bottom: none;
}

.takeaway {
    max-width: 150px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #121212;
    color: #FDFDFD;
}

.takeaway:hover {
    background-color: #FDFDFD;
    color: #121212;
}