




/*Global Stylings*/

* { 
    padding: 0px;
    margin: 0px;
}

h1, h2 {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/*Navigation*/

nav {
    position: fixed;
    font-size: 16px;
    font-weight: 600;
    margin: 15px;
    pointer-events: all;
}

    nav ul {
        list-style: none;
    }

    nav li {
        float: left;
        margin-right: 15px;
    }

    nav a {
        background-color: #121212;
        border-style: solid;
        border-width: 2px;
        border-color: #FDFDFD;
        padding: 4px 6px 4px 6px;
        color: #FDFDFD;
    }

    nav a:hover {
        background-color: #FDFDFD;
        color: #121212;
    }

    #active {
        background-color: rgba(0, 0, 0, 0.0);
        color: #121212;
        border-width: 0px;
    }



/*Basic website blockings*/
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FDFDFD;
}

#sketch {
    position: fixed;
}

.container {
    position: fixed;
    width: 100vw;
}

.content {
    height: 100vh;
    overflow-y: scroll;
}

article {
    padding-bottom: 200px;
    margin: auto;
    width: 500px;
}



.header {
    margin-top: 250px;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-bottom: 24px;
    background-color: #121212;
    color: #FDFDFD;
    width: 70vw;
    min-width: 460px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .name {
        font-size: 70px;
    }



/*PROJECTS*/

.project {
    margin-top: 100px;
    background-color: #121212;
    padding: 10px 14px 10px 14px;
    color: #FDFDFD;
}

    .project:hover {
        cursor: pointer;
    }

    .project h3 {
        float: left;
        font-size: 22px;
        font-weight: 400;
        font-style: italic;
    }
    
    .project .tools {
        padding-left: 4px;
        font-size: 16px;
        font-style: normal;
        color: #666666;
    }

    .project p {
        clear: both;
        padding-top: 10px;
    }

#narwhal:hover {
    color: #2a7f7d;
}

#boop:hover {
    color: #d1005f;
}

#beautiful:hover {
    color: #4966a6;
}

#dog:hover {
    color: #e39959;
}

#rocks:hover {
    color: #ddd4c8;
}




/*Social*/

.social {
    display: flex;
    justify-content: center;
}
    .social i {
        color: #121212;
        margin: 100px 30px 0px 30px;
    }

    #github:hover {
        color: #777777;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #twitch:hover {
        color: #6441A4;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #linkedin:hover {
        color: #007bb6;
        background-color: rgba(0, 0, 0, 0.0);
    }

    #twitter:hover {
        color: #00aced;
        background-color: rgba(0, 0, 0, 0.0);
    }




/*Skills Styling*/

.pitch {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.pitch .me {
    max-width: 390px;
    pointer-events: all;
}

.pitch p {
    padding-bottom: 20px;
}

.pitch a {
    color: #Bf6C97;
}

.pitch a:hover {
    border-bottom-style: dashed;
}


/*About Styling*/

.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.about .me {
    width: 480px;
    pointer-events: all;
}

.about p {
    padding-bottom: 20px;
}

.about a {
    color: #Bf6C97;
}

.about a:hover {
    border-bottom-style: dashed;
}



/*Project Page Styling*/

.projectPage article {
    min-width: 800px;
    margin-top: 200px;
}

.projectPageHeader {
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin: auto;
}

.projectPageHeader h1 {
    font-size: 50px;
}

.projectPageHeader p {
    max-width: 500px;
    padding-top: 35px;
    font-size: 15px;
}

.projectPageHeader .quote {
    font-weight: 200;
}

.projectPageHeader a {
    background: #121212;
    color: #FDFDFD;
    padding: 0px 3px 2px 3px;
}

.projectPageHeader a:hover {
    background: #FDFDFD;
    color: #121212;
}

.whyididthis, .github {
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
}

.whyididthis a, .github a {
    background: #121212;
    color: #FDFDFD;
    padding: 8px;
}

.whyididthis a:hover, .github a:hover {
    background: #FDFDFD;
    color: #121212;
}

.projectPage .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


iframe {
    margin: 15px 0px 50px 0px;
}

.instagram-media {
    margin-bottom: 50px !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
    min-width: 700px !important;
    box-shadow: 2px 2px 1px #DDDDDD !important;
}

.beautifulItem {
    text-align: center;
    margin: auto;
    max-width: 768px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.beautifulItemTitle {
    padding-top: 20px;
    font-size: 26px;
    font-style: italic;
}

.beautifulItem video {
    display: block;
    margin: auto;
}

.beautifulItemCaption {
    width: 500px;
    margin: auto;
}

.projectPage article h3 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.takeaways {
    width: 500px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.takeaways a:hover {
    border-bottom: none;
}

.takeaway {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #121212;
    color: #FDFDFD;
}

.takeaway:hover {
    background-color: #FDFDFD;
    color: #121212;
}