body {
    margin: 0px;
    background-color: #222;
}

article {
    font-family: 'Lobster', cursive;
    color: #00a478;
    padding-top: 150px;
    margin: auto;
    width: fit-content;
    text-align: center;
}

h1 {
    font-size: 40px;
    padding-bottom: 150px;
}

img {
    padding-bottom: 200px;
}