body {
    margin: 0px;
    background-color: #222;
}

article {
    font-family: 'Lobster', cursive;
    color: #00a478;
    padding-top: 150px;
    margin: auto;
    width: fit-content;
    text-align: center;
}

h1 {
    font-size: 40px;
    padding-bottom: 150px;
}

img {
    margin-bottom: 100px;
    box-shadow: 3px 3px 5px #111111;
}