:root {
    --primary: #2C928D;    
    --secondary: #F1F1F1;
    --accent: #BBB;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--secondary);
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:visited {
    color: var(--primary);
}

.frontCanvas {
    width: 40%;
    height: 100%;
    position: fixed;
}

.backCanvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
}

.halfDivider {
    height: 100vh;
    width: 40%;
    float: right;
}

nav {
    color: var(--primary);
    position: fixed;
    right: 0px;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
}

nav a {
    border: none;
    margin-left: 15px;
}

.content {
    min-height: 100vh;
    width: 60%;
    float: right;
    color: var(--primary);
    font-size: 16pt;
    z-index: 3 !important;
}

article {
    width: 530px;
    margin: auto;
}

.title {
    margin-left: -3px;
}

.name {
    margin-top: 30vh !important;
    font-size: 48pt;
    letter-spacing: -3px;
}

.creativeDeveloper {
    margin-top: -20px;
    font-size: 16pt;
    font-weight: 400;
}

.spacer {
    min-height: 400px;
    border-left: 3px dotted var(--primary);
}

.double {
    min-height: 600px;
}

/*PROJECTS*/

.project {
    margin-left: 3px;
}

.p_year {
    float: left;
    margin-left: -59px;
    margin-top: -14px;
}

.p_above {
    border-top: 3px dotted var(--primary);
    transition: 0.5s;
}

.p_above:hover {
    width: 100%;
}

.p_title {
    padding-left: 13px;
}

#boop {
    margin-top: -70px;
    width: 213px;
}

#problems {
    margin-top: -70px;
    width: 400px;
}

#montague {
    margin-top: -102px;
    width: 271px;
}

.boopOverride {
    width: 224px;
}

.problemsOverride {
    width: 242px;
}

.montagueOverride {
    width: 287px;
}

.p_projectName {
    line-height: 0.9em;
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 26pt;
}

.p_resources {
    padding-left: 2px;
    font-size: 14pt;
    font-weight: 300;
}

.p_body {
    height: 0px;
    padding-left: 13px;
}

.p_description {
    font-weight: 400;
    padding-top: 13px;
    font-size: 16px;
}

/*SOCIAL*/

.social {
    margin-top: -43px;
    margin-bottom: 50vh;
    padding-left: 15px;
    border-bottom: 3px dotted var(--primary);
}

.social a {
    padding-right: 10px;
    border: none;
}

.social a:hover {
    border: none;
}

#github:hover {
    color: #111111;
}

#twitch:hover {
    color: #6441A4;
}

#linkedin:hover {
    color: #007bb6;
}

#twitter:hover {
    color: #00aced;
}